.Chat_GPT {
    color: #3aaec0;
}

.Chat_GPT_Search_Bar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    padding: 6px;
    width: 100%;
    
}

#Chat_GPT_Search_Input {
    background: transparent;
    border: none;
    outline: none;
    color: #3aaec0;
    font-size: 18px;
    padding: 10px 15px;
    height: 100px;
    width: 320px;   
    resize: none;
    overflow-y: auto;
    scrollbar-width: none;
    width: 80%;
}

#Chat_GPT_Search_Input::placeholder {
    color: #3aaec0;
}

#Chat_GPT_Search_Button {
    background: #00e5ff;
    border: none;
    padding: 10px 24px;
    border-radius: 40px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    color: #001015;
    letter-spacing: 1px;
    box-shadow: 0 0 8px #00e5ff;
    transition: 0.3s;
}

#Chat_GPT_Search_Button:hover {
    background: #00cfe6;
    box-shadow: 0 0 10px #00e5ff, 0 0 15px #00e5ff;
}

.Chat_GPT_Lightning {
    position: absolute;
    width: 2px;
    background: linear-gradient(#00e5ff, transparent);
    opacity: 0;
    animation: Lightning_Anim 0.25s linear;
    filter: drop-shadow(0 0 10px #00e5ff);
    padding-top: 50%;
}

@keyframes Lightning_Anim {
    0% {
        opacity: 1;
        transform: scaleY(0);
    }

    100% {
        opacity: 0;
        transform: scaleY(2);
    }
}