.Search_Slider_Wrapper {
    width: 100%;
    overflow: hidden;
    margin: auto;
}

.All_Buttons_Slider{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Search_Slider_Menu {
    display: flex;
    justify-content: space-between;
    margin: 12px 0px 12px 0px;
    width: 80%;
}

.Search_Slider_Menu button {
    flex: 1;
    margin: 0 6px;
    padding: 10px 0;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.3);
    transition: 0.3s ease;
}

.Search_Slider_Menu button:nth-child(1) {
    color: #00ff00;
    border: 1px solid #00ff00;
}

.Search_Slider_Menu button:nth-child(1):hover {
    box-shadow: 0 0 12px #00ff00;
}

.Search_Slider_Menu button:nth-child(2) {
    color: #3aaec0;
    border: 1px solid #3aaec0;
}

.Search_Slider_Menu button:nth-child(2):hover {
    box-shadow: 0 0 12px #3aaec0;
}

.Search_Slider_Menu button:nth-child(3) {
    color: #ff0033;
    border: 1px solid #ff0033;
}

.Search_Slider_Menu button:nth-child(3):hover {
    box-shadow: 0 0 12px #ff0033;
}

.Search_Slider_Track {
    display: flex;
    transition: 0.6s ease-in-out;
}

.Search_Panel {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}