.YT {
    color: #aa4444;
}

.YT_Search_Bar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    padding: 6px;
    width: 100%;
}

#YT_Search_Input {
    background: transparent;
    border: none;
    outline: none;
    color: #aa4444;
    font-size: 18px;
    padding: 10px 15px;
    width: 80%;
}

#YT_Search_Input::placeholder {
    color: #aa4444;
}

#YT_Search_Button {
    background: #ff0033;
    border: none;
    padding: 10px 24px;
    border-radius: 40px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    color: #ffffff;
    letter-spacing: 1px;
    box-shadow: 0 0 8px #ff0033;
    transition: 0.3s;
}

#YT_Search_Button:hover {
    background: #cc0029;
    box-shadow: 0 0 10px #ff0033, 0 0 15px #ff0033;
}

.YT_Lightning {
    position: absolute;
    width: 2px;
    background: linear-gradient(#ff0033, transparent);
    opacity: 0;
    animation: YT_Lightning_Anim 0.25s linear;
    filter: drop-shadow(0 0 10px #ff0033);
    padding-top: 50%;
}

@keyframes YT_Lightning_Anim {
    0% {
        opacity: 1;
        transform: scaleY(0);
    }

    100% {
        opacity: 0;
        transform: scaleY(2);
    }
}